<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inbox Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/app.css" />
  </head>
<body>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Inbox Styleguide</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Components</a></li>
          <li><a href="/example">Example</a></li>
          <li><a href="/css">CSS</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row toolbar">
      <div class="col-md-8">
        <button class="btn btn-default">Mark as Read</button>
        <button class="btn btn-default">Mark as Unread</button>

        <select class="form-control label-select">
          <option>Apply Label</option>
          <option value="dev">dev</option>
          <option value="personal">personal</option>
        </select>

        <select class="form-control label-select">
          <option>Remove Label</option>
          <option value="dev">dev</option>
          <option value="personal">personal</option>
        </select>
      </div>

      <div class="col-md-4">
        <p class="text-right">4</span>
          <span>unread messages</span>
        </p>
      </div>
    </div>

    <div>
      <div class="row message unread">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" />
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="col-md-11">
          <span class="label label-warning">dev</span>
          <span class="label label-warning">personal</span>
          <span>You can't input the protocol without calculating the mobile RSS protocol!</span>
        </div>
      </div>

      <div class="row message unread selected">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" checked="checked" />
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="col-md-11">
          <span>connecting the system won't do anything, we need to input the mobile AI panel!</span>
        </div>
      </div>

      <div class="row message unread">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" />
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="col-md-11">
          <span class="label label-warning">dev</span>
          <span>Use the 1080p HTTP feed, then you can parse the cross-platform hard drive!</span>
        </div>
      </div>

      <div class="row message read selected">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" checked="checked" />
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="col-md-11">
          <span>We need to program the primary TCP hard drive!</span>
        </div>
      </div>

      <div class="row message unread">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" />
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="col-md-11">
          <span class="label label-warning">personal</span>
          <span>If we override the interface, we can get to the HTTP feed through the virtual EXE interface!</span>
        </div>
      </div>

      <div class="row message read">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" />
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="col-md-11">
          <span>We need to back up the wireless GB driver!</span>
        </div>
      </div>

      <div class="row message read">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" />
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="col-md-11">
          <span class="label label-warning">dev</span>
          <span class="label label-warning">personal</span>
          <span>We need to index the mobile PCI bus!</span>
        </div>
      </div>

      <div class="row message read">
        <div class="col-md-1">
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" />
            </div>

            <div class="col-md-2"></div>
          </div>
        </div>

        <div class="col-md-11">
          <span>If we connect the sensor, we can get to the HDD port through the redundant IB firewall!</span>
        </div>
      </div>
    </div>
  </body>
</html>
