<div class="row toolbar">
  <div class="col-md-10">
    <button class="btn btn-default">
      <i class="fa fa-minus-square-o"></i>
    </button>

    <button class="btn btn-default">
      Mark As Read
    </button>

    <button class="btn btn-default">
      Mark As Unread
    </button>

    <select class="form-control label-select">
      <option>Apply label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <select class="form-control label-select">
      <option>Remove label</option>
      <option value="dev">dev</option>
      <option value="personal">personal</option>
      <option value="gschool">gschool</option>
    </select>

    <button class="btn btn-default">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
  <div class="col-md-2">
    <p class="text-right">
      <span class="badge">2</span>
      unread messages
    </p>
  </div>
</div>
